# Ignoring object files
obj/
*.o

# Web server base
/src/server.c

# Main executable file
/lumify

# Testing folder executables
/testing/client
/testing/server
/testing/clientudp
/testing/serverudp

files/
add-files-here/
get-files-here/